body {
	/*background-image: url("zamba_y_amigos.jpg");*/
	position: absolute;
	width: 1502px;
	height: 915px;
	left: -62px;
	top: 143px;

	background: url(zamba_y_amigos.jpg);

}

.titulo { 
	color: white; 
	font-family: Roboto;
	font-size: 72px;
	font-style: normal;
	font-weight: 700;
	line-height: 84px;
	letter-spacing: 0em;
	text-align: left;
	padding-left: 100px;
	background: #FA26A0;
	
	position: absolute;
	width: 1440px;
	height: 150px;
	left: 0px;
	top: 0px;
	border: 5px solid black;

}

.titulo_texto{
	padding: 30;
	
}